#sidebar{  
    background-color: #333;
    color: white;
    overflow: auto;
    height: 100vh;
    padding: 20px;
    ul{
        margin:0; 
        padding: 0;
        list-style-type: none; 
        a{
            border-radius: 10px;
            text-decoration: none;
            color: white;
            display: block;
            padding: 10px 5px;
            transition: 0.4s ease all;

            &:hover{
                background-color: rgb(99, 96, 96); 
            }
        } 
    }
}