a {
  text-decoration: none;
}
#panelLayout {
  #route-container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    #content { 
      flex: 1;
      overflow: auto;  
    }
  }
}
