a {
  text-decoration: none;
}

#panelLayout {
  #route-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    #content {
      flex: 1;
      overflow: auto;
    }
  }
}
