#header{
    background-color: #eee;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    // .dropdown-toggle::after{
    //     margin-left: 0;
    //     margin-right: 0.255em;
    // }
}